
name: Workflow for Build java service and deploy docker image on ECR

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
      service-directory:
        required: true
        type: string
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      aws_session_token:
        required: true

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: microservice

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout for ${{ inputs.service-name }}
        uses: actions/checkout@v3.1.0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build ${{ inputs.service-name }} with Maven
        run: |
          cd ${{ inputs.service-directory }}
          mvn clean install

      - name: Upload targeted JAR
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.service-name }}
          path: ${{ inputs.service-directory }}/target/*.jar
