
name: Java CI with Maven

on:
  push:
    branches: [ "main", "develop"]
  pull_request:
    branches: [ "main", "develop"]

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: microservice

jobs:
  build-deploy-service-1:
#    if: contains(github.event.head_commit.modified, 'service-1/**') || contains(github.event.head_commit.modified, '.github/workflows/**')
    uses: ./.github/workflows/buildAndDeploy.yml
    with:
      service-name: service-1
      service-directory: service-1
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}

  build-deploy-service-2:
#    if: contains(github.event.head_commit.modified, 'service-2/**') || contains(github.event.head_commit.modified, '.github/workflows/**')
    uses: ./.github/workflows/buildAndDeploy.yml
    with:
      service-name: service-2
      service-directory: service-2
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}

  build-deploy-service-3:
#    if: contains(github.event.head_commit.modified, 'service-3/**') || contains(github.event.head_commit.modified, '.github/workflows/**')
    uses: ./.github/workflows/buildAndDeploy.yml
    with:
      service-name: service-3
      service-directory: service-3
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}
