
name: Java CI with Maven

on:
  push:
  pull_request:

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: microservice

jobs:
  build-deploy-service-1:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.modified, 'service-1/') || contains(github.event.head_commit.modified, '.github/workflows/')

    steps:
      - uses: ./common-step.yml

      - name: Build Service 1 with Maven and Push Docker Image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: service-1-latest
        run: |
          cd ./service-1
          mvn clean install
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

  build-deploy-service-2:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.modified, 'service-2/') || contains(github.event.head_commit.modified, '.github/workflows/')

    steps:
      - uses: ./common-step.yml

      - name: Build Service 2 with Maven and Push Docker Image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: service-2-latest
        run: |
          cd ./service-2
          mvn clean install
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

  build-deploy-service-3:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.modified, 'service-3/') || contains(github.event.head_commit.modified, '.github/workflows/')

    steps:
      - uses: ./common-step.yml

      - name: Build Service 3 with Maven and Push Docker Image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: service-3-latest
        run: |
          cd ./service-3
          mvn clean install
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
